<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" type="text/css" href="../css/aj.min.css">
</head>

<body>
    <header class="navbar ph4 pv3 bg-near-white">
        <section class="navbar-section">
            <a href="#" class="b f3 mr4">Cashmor</a>
            <a href="#" class="btn btn-link">Logout</a>
            <a href="#" class="btn btn-link">About</a>
        </section>
        <section class="navbar-section">
            <a href="#" class="btn btn-link">My Cart</a>
        </section>
    </header>
    <div class="container mt4">
        <div class="input-group">
            <input type="text" class="form-input input-lg" placeholder="Search..." />
            <button class="btn btn-primary input-group-btn btn-lg">Search</button>
        </div>
        <div class="row mt4 pt4">
            <div class="three columns">
                <div class="card">
                    <div class="card-image p2">
                        <img src="img/tv.jpg" class="img-responsive" />
                    </div>
                    <div class="card-header">
                        <h6 class="fw5 f3">Walmart</h6>
                        <h4 class="card-title">Trolls 6V Speed Electric Battery-Powered Coupe Ride-On</h4>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary tc btn-block btn-lg">Buy for $24.99</button>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="card">
                    <div class="card-image p2">
                        <img src="img/tv.jpg" class="img-responsive" />
                    </div>
                    <div class="card-header">
                        <h6 class="fw5 f3">Walmart</h6>
                        <h4 class="card-title">Trolls 6V Speed Electric Battery-Powered Coupe Ride-On</h4>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary tc btn-block btn-lg">Buy for $24.99</button>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="card">
                    <div class="card-image p2">
                        <img src="img/tv.jpg" class="img-responsive" />
                    </div>
                    <div class="card-header">
                        <h6 class="fw5 f3">Walmart</h6>
                        <h4 class="card-title">Trolls 6V Speed Electric Battery-Powered Coupe Ride-On</h4>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary tc btn-block btn-lg">Buy for $24.99</button>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <div class="card">
                    <div class="card-image p2">
                        <img src="img/tv.jpg" class="img-responsive" />
                    </div>
                    <div class="card-header">
                        <h6 class="fw5 f3">Walmart</h6>
                        <h4 class="card-title">Trolls 6V Speed Electric Battery-Powered Coupe Ride-On</h4>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary tc btn-block btn-lg">Buy for $24.99</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
