/*FORMS*/

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */


/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}

.container {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
}

.container-s {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 45em) {
    .row {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .col,
    .cols {
        display: table-cell;
    }
    .one {
        width: 8.333333%;
    }
    .two {
        width: 16.666667%;
    }
    .three {
        width: 25%;
    }
    .four {
        width: 33.333333%;
    }
    .five {
        width: 41.666667%;
    }
    .six {
        width: 50%;
    }
    .seven {
        width: 58.333333%;
    }
    .eight {
        width: 66.666667%;
    }
    .nine {
        width: 75%;
    }
    .ten {
        width: 83.333333%;
    }
    .eleven {
        width: 91.666667%;
    }
    .row-padded {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .row-padded .row {
        border-spacing: 1rem 0;
    }
}

.w-100 {
    width: 100%;
}
