/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .lh-1 { line-height: 1; }
  .lh-2 { line-height: 1.25; }
  .lh-3  { line-height: 1.5; }

@media (--breakpoint-medium) {
  .lh-1 { line-height: 1; }
  .lh-2 { line-height: 1.25; }
  .lh-3  { line-height: 1.5; }
}

@media (--breakpoint-large) {
  .lh-1 { line-height: 1; }
  .lh-2 { line-height: 1.25; }
  .lh-3  { line-height: 1.5; }
}

