/*

    BORDERS
    Docs: http://tachyons.io/docs/themes/borders/

    Base:
      b = border

    Modifiers:
      a = all
      t = top
      r = right
      b = bottom
      l = left
      n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bn { border-style: none; border-width: 0; }
.br0 {        border-radius: 0; }
.br1 {        border-radius: .125rem; }
.br2 {        border-radius: .25rem; }
.br3 {        border-radius: .5rem; }
.br-100 {     border-radius: 100%; }
.br-pill {    border-radius: 9999px; }
.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.b-primary {color: @primary-color;}
.b-black {         color: @black; }
.b-black-1 {    color: @black-1; }
.b-black-2 {     color: @black-2; }
.b-black-3 {      color: @black-3; }
.b-black-4 {          color: @black-4; }
.b-white-4 {  color: @white-4; }
.b-white-3 {     color: @white-3; }
.b-white-2 {    color: @white-2; }
.b-white-1 {    color: @white-1; }
.b-white {         color: @white; }

.b-red { color: @red; }
.b-dark-red { color: @dark-red; }
.b-orange{color: @orange;}
.b-dark-orange{color: @dark-orange;}
.b-yellow { color: @yellow; }
.b-dark-yellow{color: @dark-yellow}
.b-teal { color: @teal; }
.b-dark-teal{color: @dark-teal}
.b-purple { color: @purple; }
.b-dark-purple { color: @dark-purple; }
.b-blue { color: @blue; }
.b-dark-blue { color: @dark-blue; }
.b-green { color: @green; }
.b-dark-green { color: @dark-green; }